name: Endor Labs Dependency Scan
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: 
jobs:
  scan:
    permissions:
      contents: read # Used to check out a private repository.
      actions: read
      id-token: write # Used for keyless authentication with Endor Labs
      pull-requests: write # Required to automatically comment on PRs for new policy violations
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v3

    - name: 'Setup NPM'
      uses: actions/setup-node@v6
      with: 
        node-version: '22.x'

    - name: 'Install application minimalistically'
      run: |
          npm install --package-lock-only --ignore-scripts --no-audit
          cd frontend
          npm install --package-lock-only --ignore-scripts --legacy-peer-deps --no-audit

    - name: 'Endor Labs Scan Pull Request'
      if: github.event_name == 'pull_request'
      uses: endorlabs/github-action@v1.1.9
      with:
        namespace: 'doordash'
        scan_dependencies: true
        pr: true
        pr_incremental: true
        additional_args: '--quick-scan'
        phantom_dependencies: true
        scan_summary_output_type: 'table'
        enable_pr_comments: true
        enable_github_action_token: false
        github_token: ${{ secrets.GITHUB_TOKEN }} # Required for PR comments on new policy violations
        api_key: ${{ secrets.ENDOR_API_CREDENTIALS_KEY }}
        api_secret: ${{ secrets.ENDOR_API_CREDENTIALS_SECRET }}

    - name: 'Endor Labs Scan Main'
      if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
      uses: endorlabs/github-action@v1.1.9
      with:
        namespace: 'doordash'
        scan_dependencies: true
        pr: false
        scan_summary_output_type: 'table'
        enable_github_action_token: false
        api_key: ${{ secrets.ENDOR_API_CREDENTIALS_KEY }}
        api_secret: ${{ secrets.ENDOR_API_CREDENTIALS_SECRET }}
